body {
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff
}


#wrapper {
    width: 900px;
    margin: 0 auto;
    background: #f2e8c9;
}


#header {
    position: relative;
    height: 250px;
    background-color: #42677A;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
}



img {
    float: left;
}

#h111 {
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    font-family: 'Prata', serif;
}

h1 {
    margin: 0 0 10px 40px;
    color: #464451;
}

.nomer {
    position: absolute;
    top: 5px;
    left: 680px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: #464451;
}

#content {
    margin-bottom: 5px;
    width: 880px;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
}

#content1 {
    margin-bottom: 5px;
    width: 880px;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
    font-family: 'Prata', serif;
}

.table1 {
    margin-left: 305px;
    font-size: 14pt;
}

.th1 {
    text-align: left;
}

.td1 {
    padding-left: 20px;
}

.h2_form {
    text-align: center
}

#tel1 {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#middlename {
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 1px;
}

#middlename1 {
    margin-left: 64px;
}

#first_name1 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
}

#first_name {
    margin-left: 100px;
}

#surname1 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-left: 2px;
}

#surname {
    margin-left: 64px;
}

#content2 {
    margin-bottom: 5px;
    width: 880px;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
    font-family: 'Prata', serif;
}

#content3 {
    margin-bottom: 5px;
    width: 880px;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
    font-family: 'Prata', serif;
}

#ul1 {
    margin-left: 200px;
    font-size: 20pt;
}

#form1 {
    margin-left: 230px;
    font-family: 'Bebas Neue', sans-serif;

}

#botton1 {
    margin-left: 170px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #7f7f00;
    font-family: 'Bebas Neue', sans-serif;
}

.left {
    float: left;
    margin: 20px 7px 7px 7px;
    width: 200px;
    height: 200px;
}



#footer {
    height: 80px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
}

.clear {
    clear: both;
}

.fon {
    float: left;
    margin: 20px 0 0 20px;
    font-family: 'Prata', serif;
    font-size: 15px;
}


.mail {
    float: left;
    margin: 20px 0 0 60px;
    font-family: 'Prata', serif;
    font-size: 15px;
}